@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand_font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style */

.color_ore {
  color: orange;
}

.color_wig {
  color: #ffff;
}

.color_sky {
  color: rgb(84, 202, 249);
}

.color_viol {
  color: #5D58EF;
}

.color_bro {
  color: brown;
}

.font_med {
  font-size: 1.25rem;
}
.bg_images{
  background-image: url('../assets/bg.png');
}
main> section{
  margin-top: 0;
}

/* navbar related style */
.nav_section {
  max-width: 100%;
  max-height: 100%;

}

.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 1226px;
  max-height: 62px;
  margin: 0 auto;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;

}

.nav_title {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2rem;
  margin-left: 15px;
}

.nav_link {
  text-decoration: none;

}

.nav_link:hover {
  color: rgba(40, 33, 32, 0.542);
}

.nav_item1,
.nav_item2,
.nav_item3 {
  display: flex;

}

.nav_item2,
.nav_list {
  list-style: none;
  gap: 2rem;
}

.contact_btn {
  width: 11.8rem;
  height: 3.1rem;
  background-color: orange;
  border-radius: 10px;
  border: none;

}

.contact_btn:hover {
  background-color: black;
  color: #ffff;
}

.hamburger {
  display: none;

}

/* banner section style */
.banner_section {
  display: flex;
  max-width: 1236px;
  max-height: 575px;
  margin: 0 auto;
  align-items: center;
  
}

.banner_textarea {
  width: 686px;
  height: 331px;
  text-align: left;

}

.banner_title {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 24px;
}

.banner_images {
  margin-left: 80px;
}

.enroll_btn {
  width: 11.8rem;
  height: 3.1rem;
  background-color: #000000;
  border-radius: 10px;
  border: none;
  margin-top: 24px;
}

.enroll_btn:hover {
  background-color: orange;
  color: #ffff;
}
/* Curriculum section style */
.curriculum_title{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 2.8rem;
  font-weight: 700;
}
.curriculum_section{
  width: 1236px;
  height: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.curriculum_section{
  /* width: 100%; */
}
.curriculum_detles{
  max-width: 391px;
  max-height: 440px;
  border: 1px solid rgb(227, 191, 126);
  border-radius: 15px;
  text-align: center;
  margin: 80px auto;
  padding: 40px;
  background:linear-gradient (90deg,
  rgb(9, 9, 9) -19.5%,
  rgba(16, 16, 16, 0) 100%);

}


/* Smaller Screen Breakpoint  */

@media screen and (max-width:557px) {

  /* navbar Breakpoint */
  .nav_item2,
  .nav_item3,
  .nav_title {
    display: none;

  }

  .navbar {
    width: 80%;
    align-items: center;
    margin: 0 auto;

  }

  .nav_section {
    width: 100%;
    height: 100%;
    border: 1px solid orange;
    padding: 12px 0 12px 0;
    margin: 0 auto;
  }

  .hamburger {
    display: block;
  }

  /* banner Breakpoint */
 

  .banner_section {
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
    margin-top:350px;
    
  }

  .banner_images img {
    width: 100%;
    
  }
  .banner_images{ 
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 30px; 
    
  }
  .banner_textarea {
   width: 90%;
   height: auto;
   text-align: center;
   padding: 20x;

  }
  .banner_title{
    font-size: 2rem;
  }
  .bannner_descriptio{
    font-size: .87rem;
  }
}