@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand_font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared Style */

.color_ore {
  color: orange;
}

.color_wig {
  color: #ffff;
}

.color_sky {
  color: rgb(84, 202, 249);
}

.color_viol {
  color: #5d58ef;
}

.color_bro {
  color: brown;
}

.font_med {
  font-size: 1.25rem;
}

.bg_images {
  background-image: url('../assets/bg.png');
  background-repeat: no-repeat;
}

.font_style {
  font-size: 1rem;
  color: #808080;
  margin-bottom: 2rem;

}

main>section {
  margin-top: 0;
}

/* Navbar Related Style */

.nav_section {
  max-width: 100%;
  height: 100%;

}

.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 1226px;
  max-height: 62px;
  margin: 0 auto;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;

}

.nav_title {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2rem;
  margin-left: 15px;
}

.nav_link {
  text-decoration: none;

}

.nav_link:hover {
  color: rgba(40, 33, 32, 0.542);
}

.nav_item1,
.nav_item2,
.nav_item3 {
  display: flex;

}

.nav_item2,
.nav_list {
  list-style: none;
  gap: 2rem;
}

.contact_btn {
  width: 11.8rem;
  height: 3.1rem;
  background-color: orange;
  border-radius: 10px;
  border: none;

}

.contact_btn:hover {
  background-color: black;
  color: #ffff;
}

.hamburger {
  display: none;

}

/* Marquee Style */

.marquee {
  margin-top: 5px;
  font-size: 1.5rem;
  background-color: rgba(151, 143, 128, 0.493);
  color: #FFFFFF;
  border: 0.5px solid orange;
}

/* Banner Section Style */

.banner_section {
  display: flex;
  max-width: 1236px;
  height: 100%;
  margin: 0 auto;
  align-items: center;

}

.banner_textarea {
  width: 686px;
  height: 331px;
  text-align: left;

}

.banner_title {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 24px;
}

.banner_images {
  margin-left: 80px;
}

.enroll_btn {
  width: 11.8rem;
  height: 3.1rem;
  background-color: #000000;
  border-radius: 10px;
  border: none;
  margin-top: 24px;
}

.enroll_btn:hover {
  background-color: orange;

}

/* Curriculum Section Style */

.curriculum_title {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 2.8rem;
  font-weight: 700;
}

.curriculum_section {
  max-width: 1236px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

}

.curriculum_details1 {
  max-width: 100%;
  max-height: 440px;
  border: 1px solid #7fdbd066;
  border-radius: 15px;
  text-align: center;
  padding: 40px;
  background: linear-gradient(180deg, #7fdbd052, #8882820e);
}

.curriculum_details2 {
  max-width: 100%;
  max-height: 440px;
  border: 1px solid #ffa60052;
  border-radius: 15px;
  text-align: center;
  padding: 40px;
  background-color: whitesmoke;
  background: linear-gradient(180deg, #ffa60052, #8882820e);
}

.curriculum_details3 {
  max-width: 100%;
  max-height: 440px;
  border: 1px solid #5853ee49;
  border-radius: 15px;
  text-align: center;
  padding: 40px;
  background: linear-gradient(180deg, #5853ee49, #8882820e);
}

.curriculum_details_title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


.curriculum_btn {
  font-size: 1rem;
  border: none;
  background-color: #88828200;
}

.curriculum_btn:hover {
  color: chartreuse;
}

.chevron_icon {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 60px;
}

.left {
  width: 100px;
  height: 100px;
  background-color: orange;
  border-radius: 50%;
  margin-right: 10px;

}

.right {
  width: 100px;
  height: 100px;
  background-color: orange;
  border-radius: 50%;


}

/* Stories Section Style */

.stories_section {
  background: linear-gradient(0deg, #fea1014f, #FFFFFF),
    url('../assets/bg.png');

}

.stories_title {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 2.8rem;
  font-weight: 700;
}

.stories_box {
  max-width: 1236px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;

}

#box1 {
  grid-row: span 2;
  background-color: #ffff;
  border-radius: 15px;
}

#box1 img {
  border-radius: 15px 15px 0 0;
}

.january {
  margin-top: -27px;
  margin-left: 30px;
}

.january_btn {
  width: 180px;
  height: 46px;
  background-color: #3CD8E8;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  color: #FFFFFF;

}

.stories_box_title1 {
  font-size: 1.8rem;
  text-align: left;
  padding: 30px 25px;
  align-items: center;
}

.stories_box_description {
  padding: 30px 25px 0 25px;

}

.box {
  max-width: 100%;
  height: 300px;
  background-color: #ffffff;
  border-radius: 15px;
}

.box img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.stories_box_title {
  text-align: left;
  padding: 30px 20px;
  align-items: center;
}

.view_btn_div {
  text-align: center;
}

.view_btn {
  width: 10rem;
  height: 3rem;
  background-color: #000000;
  border-radius: 10px;
  border: none;
  margin-top: 80px;
  margin-bottom: 60px;
}

.view_btn:hover {
  background-color: orange;

}

/* Footer Section Style */

.footer_section {
  background-color: #0c0c0c;
  color: #FFFFFF;

}

.footer {
  max-width: 1236px;
  max-height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.footer1 {
  width: 100%;
  height: 370px;
  padding-left: 20px;
  text-align:left ;
 margin-top: 120px;
 margin-bottom: 100px;

}
.footer1_title{
  display: inline-block;
  font-size: 1.85rem;
  margin-left:10px ;
}
.footer1_description{
  font-size: 1.2rem;
  margin-top:35px ;
}

.footer2 {
  width: 100%;
  height: 370px;
  padding-left: 150px;
  text-align: left;
  margin-top: 120px;
  margin-bottom: 100px;
 
}
.footer2_title{
  font-size:1.5rem ;
  margin-bottom: 2.5rem;
}
.footera_list li{
  list-style: none;
  margin-bottom: 1rem;
}
.footera_list li a{
  text-decoration: none;
  color:#FFFFFF;

}
.foorer2_kink{
  font-size: 1.5rem;
  
}
.foorer2_kink:hover{
  color: red;
}

.footer3 {
  width: 100%;
  height: 370px;
  padding-left: 80px;
  text-align: left;
  margin-top: 120px;
  margin-bottom: 100px;
  
  
}
.footer3_title{
  font-size:1.5rem ;
  margin-bottom: 2.5rem;
  margin-left: 10px;
}
.footer_icon img{
margin-left: 10px;
}

/* Small Screen Breakpoint  */

@media screen and (max-width:576px) {

  /* Navbar Breakpoint */

  .nav_item2,
  .nav_item3,
  .nav_title {
    display: none;

  }

  .navbar {
    width: 90%;
    align-items: center;
    margin: 0 auto;

  }

  .nav_section {
    width: 100%;
    height: 100%;
    border: 1px solid orange;
    padding: 12px 0 12px 0;
    margin: 0 auto;
  }

  .hamburger {
    display: block;
  }

  /* Banner Section Breakpoint */


  .banner_section {
    flex-direction: column-reverse;
    width: 100%;
    height: auto;

  }

  .banner_images img {
    width: 100%;

  }

  .banner_images {
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 30px;

  }

  .banner_textarea {
    width: 90%;
    height: auto;
    text-align: center;
    padding: 20x;

  }

  .banner_title {
    font-size: 2rem;
  }

  .bannner_descriptio {
    font-size: .87rem;
  }

  /* Curriculum Section Breakpoint */

  .curriculum_section {
    grid-template-columns: repeat(1, 1fr);

  }

  .curriculum_details1,
  .curriculum_details2,
  .curriculum_details3 {
    max-width: 90%;
    margin: 0 auto;

  }

  .chevron_icon {
    display: none;
  }

  /* Strises Section Breakpoint */

  .stories_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0;

  }

  .box {
    width: 90%;
    margin: 0 auto;

  }

  #box1 {
    display: none;
  }


  /* Footer Section Brackpoint */

  .footer {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer1,
  .footer2,
  .footer3 {
    width: 90%;
    margin: 0 auto;
    text-align: left;
    padding: 0;
  }

}